html{
    font-family: sans-serif;
    font-size: 20px;
}

#header{
    position: relative;
    text-align: center;
    margin: 5px;
    border: 2px black;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}

#menu{

    background-color: aqua;
    display: block;
    width: 70%;
    border: 1px black;
    font: bold 14px;
}

#menu li a{
    list-style: none;
}

#usuario-login{
    margin-left: 5px;
    padding-left: 10px;
    background-color: red;
    width: 27%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.list-usuario-login{
    padding-left: 20px;
}

#logo-menu{
    text-align: center;
    background-color: brown;
    transform: translate(200%, 0%);
}

#title-section{
    text-align: center;
    background-color:pink;
    position: relative;
}
