.fondo{
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    position: relative;
    background-image: url("../Imagenes/fondo.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#html-registro{
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    position: relative;
}


.login{
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: floralwhite;
}

.grupo-login{
    padding: 10px;
    width: 70%;
    height: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    font: bold 16px Segoe UI;
}

div{
    margin-top: 10px;
}

.form-login{
    border-color: black;
    font: 'Segoe UI' ;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    text-align: center;
    font: bold 16px Segoe UI;
}

/*Centrar el logo*/
#logo{
    width: 40%;
    height: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
}

.boton{
    margin-top: 15px;
    width: 90px;
    height: 35px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    font: 16px Segoe UI;
    text-align: center;
    border-radius: 5px;
}

.Cabecera{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    font: 16px Segoe UI;
    text-align: center;
    border-radius: 5px;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col1{
    margin: 0%;
    padding: 0%;
    text-align: right;
    position:relative;
    width:20%;
}

.col1 img{
    margin-top: 20px;
    margin-right: 20px;
}

.col2{
    margin: 0%;
    padding: 0%;
    text-align: center;
    position:relative;
    width:100%;
}

.col3{
    margin: 0%;
    padding: 0%;
    text-align: center;
    position:relative;
    width: 50%;
}

.col4{
    margin: 0%;
    padding: 0%;
    text-align: center;
    position:relative;
    width:32%;
}

.col4 img{
    border-image: 15px;
}

.col5{
    margin: 0%;
    padding: 0%;
    text-align: center;
    position:relative;
    width:33.33%;
}

p img{
    width: 170px;
    height: 170px;
    margin-top: 5px;
    border-radius: 25px;
}

.form-img div{
   align-items: center ;
   margin-top: 20px;
   display: inline-block;
}

.lbl{
    font: bold 16px Segoe UI;
    color: gray;
}

p{
    margin: 0%;
    padding: 0%;
}

.form-date,.form-titinf{
    margin-top: 20px;
    margin-left: 15px;
    padding: 0%;
    border: 2px solid gray;
    border-radius: 15px;
    width: 60%;
    overflow: hidden;
    height: 90px;
}

.input-date{
    padding-top: 0%;
    border: 1px solid gray;
    font: 'Segoe UI' ;
    border-radius: 8px;
    width: 50%;
    height: 30px;
    text-align: center;
    font: 14px Segoe UI;
}

.form-img,.form-informe{
    margin: 0%;
    margin-bottom: 5px;
    padding: 0%;
    text-align: center;
    position:relative;
    transform: translate(35%,0);
    width: 60%;
    overflow: hidden;
}

.titulo-img{
    padding:0%;
    margin:0%;
    margin-left: 55px;
    font: bold 16px Segoe UI;
    width: 60%;
    text-align: left;
}

.info-img{
    font: bold 14px Segoe UI;
    color: gray;
    width: 60%;
    text-align: left;
    margin-left: 55px;
}

.form-informe{
    overflow: hidden;
    padding: 0%;
    margin-left: 4px;
    border: 1px solid gray;
    padding: 10px;
    width: 58.3%;
    padding-bottom: 0%;
    background: white;
}

.int-inf{
    margin: 0%;
    margin-left: 20px;
    padding: 0%;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: center;    
    position:relative;
    text-align: left;
    width:92%;
    border: 2px solid gray;
    border-radius: 10px;
    
}

.int-inf img{
    width: 32px;
    height: 32px;
    padding-bottom: 5px;
    vertical-align: middle;
    
    background: white;
}

.ses-inf{
    margin: 0%;
    padding: 0%;
    font: 16px Segoe UI;
}

.txt-inf{
    margin-left: 5px;
    margin-top: 8px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    width: 15%;
    height: 25px;
    text-align: center;
    font: 16px Segoe UI;
}

.btn-inf{
    margin: 0%;
    padding:0%;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 48%;
    width: auto;
    height: 35px;
    position: relative;
    font: bold 16px Segoe UI;
    text-align: center;
    border-radius: 5px;
    background:gray;
    color:white;
}

.lbl-inf{
    vertical-align: middle;
    margin-top: 20px;
    text-align: center;
    color:gray;
}

.lbl1{
    font: bold 20px Segoe UI;
}

.lbl2{
    font: 16px Segoe UI;
}

@media (max-widht: 400px){
    .login{
        width: 90%;
    }
}